/* Import the Google Font 'Lato' */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);



.skill {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

figcaption {
  padding: 50px 50px;
  width: 190px;
  height: 190px;
  border: 20px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
  color: #fff;
}

.skill img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.htmlg {
  top: 50px;
  left: 45px;
}

.htmlg + svg .outer {
  stroke: #e34f26;
}

.cssg {
  top: 55px;
  left: 48px;
}

.cssg + svg .outer {
  stroke: #0d84ce;
}

.javascriptg {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascriptg + svg .outer {
  stroke: #f0e040;
}

.pythong {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.pythong + svg .outer {
  stroke: #3070e7;
}

.skill svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.skill:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.skill[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.skill[data-percent='90'] .outer {
  stroke-dashoffset: 30;
  -webkit-animation: show90 2s;
  animation: show90 2s;
}

.skill[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.skill[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.skill[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show90 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 30;
  }
}

@keyframes show90 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 30;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */