
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAME MAIN</title>
  <link rel="stylesheet" href="/static/css/toyprj.css">
</head>


<body>

    <div id="t">
      <a href="./4-8-4_whack-a-mole_last.html">WHACK A MOLE</a>
      <img class="hidImg1 hidden trigger disappear" src="">
    </div>
    <div>
      <a href="./4-8-2_lotto.html">LOTTERY</a>
      <img class="hidImg2 trigger disappear" src="">
    </div>
    <div>
      <a href="./4-8-3_concentration-self.html">CONCENTRATION</a>
      <img class="hidImg3 trigger disappear" src="">
    </div>
    <div>
      <a href="./4-8-1_word-relay_self.html">WORD CHAIN</a>
      <img class="hidImg4 trigger disappear" src="">
    </div>

  <p>2</p>
  <p class="p2">2</p>


</html>
