{% extends "base.html" %}

<!-- static file load -->
{% load static %}

<!-- crispy_forms bootstrap5 -->
{% load crispy_forms_tags %}

<!-- title in head tag -->
{% block title %} Dashboard {% endblock %}

<!-- contents part in body tag -->
{% block main_area %}

<div class="container text-center">
  <div class="row mb-5">
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sdsd">
        용산구
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#yangcheon_c">
        양천구
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#yeongdeungpo_c">
        영등포구
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dobong_c">
        도봉구
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gwangjin_c">
        광진구
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="sdsd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <canvas id="opexChart"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="yangcheon_c" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="width: 600px; height: 200px;">
          <canvas id="opexChart2"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="yeongdeungpo_c" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="width: 600px; height: 200px;">
          <canvas id="opexChart3"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="dobong_c" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="width: 600px; height: 200px;">
          <canvas id="opexChart4"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="gwangjin_c" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="width: 600px; height: 200px;">
          <canvas id="opexChart5"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<div class="container px-5 my-5">
  <h1 class="fw-bold mb-3">Chart</h1>


  <section class="row">
    <div class="my-5">
      <canvas id="opexChart" style="height: 500px;" class="mb-3"></canvas>
    </div>
    <div class="my-5">
      <canvas id="opexChart2" style="height: 500px;"></canvas>
    </div>
    <div class="my-5">
      <canvas id="opexChart3" style="height: 500px;"></canvas>
    </div>
    <div class="my-5">
      <canvas id="opexChart4" style="height: 500px;"></canvas>
    </div>
    <div class="my-5">
      <canvas id="opexChart5" style="height: 500px;"></canvas>
    </div>
  </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% include 'dashboard/yongsan.html' %}
{% include 'dashboard/seocho.html' %}
{% include 'dashboard/jongno.html' %}
{% include 'dashboard/yeongdeungpo.html' %}
{% include 'dashboard/jung.html' %}

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('opexChart');
// chart data setup
const labels = [
{% for od in seocho %}
  '{{ od.restaurant }}',
{% endfor %}
];

// const data = {
//   labels: labels,
//   datasets: [{
//     label: '서울시 지역구 공무원 최다 방문수 식당',
//     data: priceData,
//     backgroundColor: [
//       'rgba(255, 99, 132, 0.2)',
//       'rgba(255, 159, 64, 0.2)',
//       'rgba(255, 205, 86, 0.2)',
//       'rgba(75, 192, 192, 0.2)',
//       'rgba(54, 162, 235, 0.2)',
//       'rgba(153, 102, 255, 0.2)',
//       'rgba(201, 203, 207, 0.2)'
//     ],
//     borderColor: [
//       'rgb(255, 99, 132)',
//       'rgb(255, 159, 64)',
//       'rgb(255, 205, 86)',
//       'rgb(75, 192, 192)',
//       'rgb(54, 162, 235)',
//       'rgb(153, 102, 255)',
//       'rgb(201, 203, 207)'
//     ],
//     borderWidth: 1
//   }]
// };

// const labels = Utils.months({count: 7});
const priceData = [
{% for od in seocho %}
  {{ od.name_count }},
{% endfor %}
];
const data = {
  labels: labels,
  datasets: [{
    label: '서울시 지역구 공무원 최다 방문수 식당',
    data: priceData,
    fill: false,
    borderColor: [
      '#1e30f3',
    ],
    tension: 0,
  }]
};

// chart configration setup
// const config = {
//   type: 'bar',
//   data: data,
//   options: {
//     scales: {
//       y: {
//         beginAtZero: true,
//       }
//     },
//     responsive : true,
//     responsiveAnimarionDuration : 2,
//     maintainAspectRatio : false,
//   },
// };

const config = {
  type: 'line',
  data: data,
  options: {
      scales: {
          y: {
              stacked: true,
              beginAtZero: true,
          }
      },
      responsive : true,
      responsiveAnimarionDuration : 2,
      maintainAspectRatio : false,
  }
};

// chart object
// new Chart(documentd의_식별_변수, chart configration setup_기본_설정_변수)
new Chart(ctx, config)
</script> -->

{% endblock %}