{% extends "base.html" %}

<!-- static file load -->
{% load static %}

<!-- crispy_forms bootstrap5 -->
{% load crispy_forms_tags %}

<!-- title in head tag -->
{% block title %} Dashboard {% endblock %}

<!-- contents part in body tag -->
{% block main_area %}


<div class="container px-5 my-5">
  <h1 class="fw-bold mb-3" id="chartT">서울시 지역구 공무원 최다 방문수 식당</h1>


  <!-- Button trigger modal -->
  <div class="row mb-5">
    <div class="col">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#yongsanG">
        용산구
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#seochoG">
        서초구
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#yeongdeungpoG">
        영등포구
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#jongnoG">
        종로구
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#jungG">
        중구
      </button>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="yongsanG" tabindex="-1" aria-labelledby="yongsanLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="yongsanLabel">용산구</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <canvas id="opexChart"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="seochoG" tabindex="-1" aria-labelledby="seochoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="seochoLabel">서초구</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <canvas id="opexChart2"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="yeongdeungpoG" tabindex="-1" aria-labelledby="yeongdeungpoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="yeongdeungpoLabel">영등포구</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <canvas id="opexChart3"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="jongnoG" tabindex="-1" aria-labelledby="jongnoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="jongnoLabel">종로구</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <canvas id="opexChart4"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="jungG" tabindex="-1" aria-labelledby="jungLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="jungLabel">중구</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="my-5">
          <canvas id="opexChart5"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% include 'dashboard/yongsan.html' %}
{% include 'dashboard/seocho.html' %}
{% include 'dashboard/jongno.html' %}
{% include 'dashboard/yeongdeungpo.html' %}
{% include 'dashboard/jung.html' %}


{% endblock %}