
<!-- Footer-->
<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">92 Island Pond Rd, Derry, NH 03038</div></div>
            <div class="col-auto">
                <a class="small" href="/">Lesley</a>
                <!-- <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Contact</a> -->
            </div>
        </div>
    </div>
</footer>




<!-- Footer
<footer class="py-4 bg-dark fixed-bottom" id="footer">
  <div class="container">
    <address class="m-0 text-center text-white">92 Island Pond Rd, Derry, NH 03038</address>
  </div>
</footer> -->
