{% load socialaccount %}


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" id="logo" href="/"><span class="fw-bolder text-primary">Lesley</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item"><a class="nav-link" href="/about_me/">About me</a></li>
                <li class="nav-item"><a class="nav-link" href="/dashboard/">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/projects/">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
            </ul>
            <div id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" >
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <!-- <li><a class="dropdown-item" href="/accounts/logout/">Sign Out <i class="bi bi-door-close"></i></a></li> -->
                            <li><a class="dropdown-item" href="/accounts/logout/">Sign Out <i class="bi bi-door-close"></i></a></li>
                            <li><a class="dropdown-item" href="/accounts/password/change/">Change PW <i class="bi bi-door-close"></i></a></li>
                        </ul>
                    </li>
                  {% else %}
                    <li class="nav-item">
                        <!-- Sign In trigger modal -->
                        <button type="button" class="btn btn-secondary nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Sign In <i class="bi bi-door-open"></i>
                        </button>
                    </li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>



<!-- Sign In Modal -->
<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel"> Sign In <i class="bi bi-door-open-fill"></i></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body d-flex flex-column">
            <a href="{% provider_login_url 'google' %}" class="btn btn-outline-secondary btn-lg mb-1" role="button" ><i class="bi bi-google"></i> Sign in with Google</a>
            <a href="{% provider_login_url 'kakao' %}" class="btn btn-outline-secondary btn-lg mb-1" role="button" ><i class="bi bi-line"></i> Sign in with Kakao</a>
            <a href="/accounts/login/" class="btn btn-outline-secondary btn-lg mb-1" role="button" ><i class="bi bi-person-add"></i> Sign in with Username</a>
            <a href="/accounts/signup/" class="btn btn-outline-secondary btn-lg" role="button" ><i class="bi bi-envelope-at"></i> Sign up with E-mail</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>